#root
{
  text-align: center;
  margin: 20px;
  color: #F7F1F1;
  font-family: 'Poppins'
}
.innerContainer
{
  background-color: #FE6666;
  padding: 10px 0px;
}
.titleContainer
{
  text-align: left;
  padding: 10px 40px;
}
.taskContainer
{
  background-color: #FF7776;
  padding: 0px 10px;
  color: #F7F1F1;
}
